@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgDark: #202637;
  --bgLight: #ebf0ff;
  --cardDark: #2c3551;
  --cardLight: #ffffff;
  --primaryTextDark: #c8e0f6;
  --primaryTextLight: #3d4e5e;
  --secondary: #75eb9d;
  --accent: #ecdc4b;

  color: var(--primaryTextDark);
}
